<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <!--/.navbar-->
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h3>Uh oh, you took a wrong turn there.</h3>
                            <p><a th:href="@{/}">Go home.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
