<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <!-- profile? -->
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h2>Add new score</h2>
                            <form id="scoreForm" th:action="@{/scores/add}" th:object="${score}" method="POST">
                                <fieldset id="body">
                                    <fieldset>
                                        <label>Game</label>
                                        <p th:text="*{game.name}">game name</p>
                                        <input type="hidden" th:field="*{game}" />
                                    </fieldset>
                                    <fieldset>
                                        <label>Player</label>
                                        <p th:text="*{player.username}">player username</p>
                                        <input type="hidden" th:field="*{player}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="scoreDate">Date</label>
                                        <p class="error" th:if="${#fields.hasErrors('scoreDate')}" th:errors="*{scoreDate}">score error</p>
                                        <input name="scoreDate" type="date" th:field="*{scoreDate}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="scoreValue">Score</label>
                                        <p class="error" th:if="${#fields.hasErrors('scoreValue')}" th:errors="*{scoreValue}">score error</p>
                                        <input name="score" th:field="*{scoreValue}" />
                                    </fieldset>
                                    <input type="submit" value="Submit" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
