<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <!-- profile? -->
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h2>Edit game</h2>
                            <form id="gameForm" th:action="@{/games/edit}" th:object="${formGame}" method="POST">
                                <fieldset id="body">
                                    <fieldset>
                                        <p class="error" th:if="${#fields.hasErrors('uniqueness')}" th:errors="*{uniqueness}">combo error</p>
                                    </fieldset>
                                    <fieldset>
                                        <label for="name">Name</label>
                                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
                                        <input type="text" th:field="*{name}" />
                                        <div class="clearfix"></div>
                                    </fieldset>
                                    <fieldset>
                                        <label for="publisher">Publisher</label>
                                        <p class="error" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">publisher error</p>
                                        <input type="text" th:field="*{publisher}" />
                                        <div class="clearfix"></div>
                                    </fieldset>
                                    <fieldset>
                                        <label for="publishedYear">Year published</label>
                                        <p class="error" th:if="${#fields.hasErrors('publishedYear')}" th:errors="*{publishedYear}">published error</p>
                                        <input type="text" th:field="*{publishedYear}" />
                                        <div class="clearfix"></div>
                                    </fieldset>
                                    <br />
                                    <input type="hidden" th:field="*{id}" />
                                    <input class="btn btn-success" type="submit" value="Save" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>