<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser}, redirect='/games/' + ${game.id})"></div>
        <!-- profile? -->
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h3 th:text="${game.name}">name</h3>
                            <h5 th:text="${game.publisher}">publisher</h5>
                            <h6 th:text="${game.publishedYear}">year</h6>
                            <div class="weather_by_days" th:if="${#lists.isEmpty(scores)}">
                                <p>No scores submitted or accepted!</p>
                            </div>
                            <div class="weather_by_days" th:each="score : ${scores}">
                                <div th:if="${score.isAccepted()} or ${currentuser.isAdmin()} or ${currentuser.id == score.player.id}" class="weather_by_day">
                                    <p class="w-day" th:style="not ${score.isAccepted()} ? 'font-style: italic' : ''">
                                        <a th:href="@{/profile/{id}(id = ${score.player.id})}" th:text="${score.player.name}">name</a>
                                        <span th:if="not ${score.isAccepted()}">&nbsp;pending</span>
                                    </p>
                                    <p class="w-num" th:style="not ${score.isAccepted()} ? 'font-style: italic' : ''">
                                        <a th:href="@{/scores/{id}(id = ${score.id})}" th:text="${score.scoreValue}">score</a>
                                    </p>
                                </div>
                            </div>
                            <br />
                            <div>
                                <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/games/edit/{id}(id = ${game.id})}">Edit game...</a>
                                <a sec:authorize="isAuthenticated()" class="btn btn-default" th:href="@{/scores/add/{id}(id = ${game.id})}">Add score...</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>