<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HighScore</title>
        <link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="My Secret Spot Ui Kit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='//fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css' />
        <!-- chart -->
        <script th:src="@{/js/Chart.js}"></script>
        <!-- //chart -->    
        <!-- Calender -->
        <link rel="stylesheet" th:href="@{/css/clndr.css}" type="text/css" />
        <script th:src="@{/js/underscore-min.js}" type="text/javascript"></script>
        <script th:src="@{/js/moment-2.2.1.js}" type="text/javascript"></script>
        <script th:src="@{/js/clndr.js}" type="text/javascript"></script>
        <script th:src="@{js/site.js}" type="text/javascript"></script>
        <!-- End Calender -->
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <!-- profile? -->
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h3 th:text="${game.name}">name</h3>
                            <h5 th:text="${game.publisher}">publisher</h5>
                            <h6 th:text="${game.publishedYear}">year</h6>
                            <div class="weather_by_days" th:each="score : ${scores}">
                                <div class="weather_by_day">
                                    <p class="w_day" th:style="not ${score.isAccepted()} ? 'font-style: italic' : ''"><span th:text="${score.player.name}">name</span></p>
                                    <p class="w_num" th:style="not ${score.isAccepted()} ? 'font-style: italic' : ''"><span th:text="${score.scoreValue}">score</span></p>
                                    <div th:if="not ${score.isAccepted()}">score pending</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()"><a th:href="@{/scores/add/{id}(id = ${game.id})}">Add score...</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>