<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spanfirst">
                        <div class="span1">
                            <h3 th:text="${player.username}">username</h3>
                            <div class="profile_info">
                                <div class="profile_info_entry"> 
                                    <p class="profile_label">Name</p>
                                    <div class="clearfix"></div>
                                    <p class="profile_field" th:text="${player.name}">name</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="profile_info_entry">
                                    <p class="profile_label">Description</p>
                                    <div class="clearfix"></div>
                                    <p class="profile_field" th:text="${player.description}">description</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="profile_info_entry">
                                    <p class="profile_label">High scores</p>
                                    <div class="clearfix"></div>
                                    <p class="profile_field" th:text="${highscores}">0</p>
                                    <div class="clearfix"></div>
                                </div>
                                <a th:if="${ownprofile}" th:href="@{/profile/edit}">Edit...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h3>Games</h3>
                            <div class="weather-by-days" th:each="game : ${games}">
                                <div class="weather-by-day">
                                    <p class="w-day"><a th:href="@{/games/{id}(id = ${game.id})}"><span th:text="${game.name}">game</span></a></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <p th:if="${#lists.isEmpty(games)}">No games.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
