<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <!--                <div class="logo text-center">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>-->

        <!--/.navbar-->
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-lg-12 spanfirst">
                        <div class="span1">
                            <h3>Players</h3>
                            <div class="weather-by-days" th:each="player : ${players}">
                                <p class="w-day"><a th:href="@{/profile/{id}(id = ${player.id})}"><span th:text="${player.username}">username</span></a></p>
                                <p class="w-num"></p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>