<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <!--                <div class="logo text-center">
                            <a href="index.html"><img src="images/logo.png" alt="" /></a>
                        </div>-->

        <!--/.navbar-->
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h3 class="tlt">Players</h3>
                            <div class="weather_by_days">
                                <div class="weather_by_day">
                                    <p class="w-day">username</p>
                                    <p class="w-num">scores</p>
                                </div>
                            </div>
                            <div class="weather_by_days" th:each="player : ${players}">
                                <div class="weather_by_day">
                                    <p class="w-day"><a th:href="@{/profile/{id}(id = ${player.key.id})}"><span th:text="${player.key.username}">username</span></a></p>
                                    <p class="w-num"><span th:text="${player.value}">0</span></p>
                                </div>
                            </div>
                            <div th:replace="fragments/pager :: pager(${pager}, 'players')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>