<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title=HighScore)">
        <title></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header(currentuser=${currentuser})"></div>
        <!-- profile? -->
        <div class="content">
            <div class="container">
                <div class="span_1_by_4">
                    <div class="col-md-6 spansecound">
                        <div class="span1">
                            <h2>Register</h2>
                            <form id="loginForm" th:action="@{/register}" th:object="${formPlayer}" method="POST">
                                <fieldset id="body">
                                    <fieldset>
                                        <label for="username">Username</label>
                                        <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</p>
                                        <input type="text" th:field="*{username}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="name">Name</label>
                                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
                                        <input type="text" th:field="*{name}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="email">E-mail</label>
                                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</p>
                                        <input type="text" th:field="*{email}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="password">Password</label>
                                        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</p>
                                        <input type="password" th:field="*{password}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="passwordagain">Password again</label>
                                        <p class="error" th:if="${#fields.hasErrors('passwordagain')}" th:errors="*{passwordagain}">passwordagain error</p>
                                        <input type="password" th:field="*{passwordagain}" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="description">Description</label>
                                        <textarea th:field="*{description}"></textarea>
                                    </fieldset>
                                    <input class="btn btn-success" type="submit" id="register" value="Register" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
